* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
input,
button,
select {
  font-family: Open Sans, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  color: white;
  background-color: black;
  background: url(../image/background.png) 0% 0% / cover fixed, rgb(11, 10, 13);
}

h1 {
  line-height: 40px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7.5px;
  height: auto;
}

div.row {
  display: flex;
  max-height: 50%;
  height: 300px;
}

div.child-row {
  display: flex;
  flex-direction: column;
  padding: 7.5px;
  width: 50%;
}

button {
  cursor: pointer;
  height: 40px;
  background: #d92600;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  transition: background 0.2s;
  padding: 10px;
}
button:hover {
  filter: brightness(90%);
}

button.btn-success {
  background: #4cd900;
}
button.btn-secondary {
  background: #575956;
}

label {
  font-weight: 600;
}

span {
  color: #44434b;
  font-size: 12px;
  align-self: center;
}

.boxLogs {
  flex: 1;
  background: rgb(25, 24, 31);
  margin-top: 10px;
  max-height: 235px;
  overflow: auto;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  font-size: 14px;
}

#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}
#message {
  color: black;
}
